.sidebar{
    width:260px;
    height:100vh;
    position:fixed;
    left:0;
    top:0;
    background:#111827;
    padding:30px;
    color:white;
}

.sidebar ul{
    list-style:none;
    padding:0;
}

.sidebar li{
    padding:15px;
    margin-top:10px;
    border-radius:12px;
    cursor:pointer;
    transition:0.3s;
}

.sidebar li:hover{
    background:#1f2937;
    transform:translateX(10px);
}